@import "./../styles/color.scss";
@import "./../styles/breakpoint.scss";
@import "./../styles/shadow.scss";
@import "./../styles/reset.scss";

/* Shopping Cart */
.product_img {
  width: 200px;
  height: 200px;
}

.amount_control {
  width: 200px;
}

.CheckoutShoppingCart {
  width: 600px;
  padding: 0 16px;
  margin-top: 32px;
  border-radius: 8px;
  border: 1px solid var(--border-light-color);
  background-color: var(--shopping-cart-bg);
}
