@import "./../styles//color";

/* ------- Basic CSS ------- */
body {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  background-color: var(--bg-color);
  color: var(--body-color);
}

main {
  min-height: 70vh;
  background-color: var(--bg-color);
  padding-top: 70px;
}

#Checkout-page {
  max-width: $max-width;
  margin: 0 auto;
  padding: 14px;

  .checkout-section-title {
    font-size: 32px;
    font-weight: 700;
  }
}