/* ------- Variables ------- */
$standard-font-family: "Noto Sans TC", sans-serif;
$brand-font-family: "Lato", "Noto Sans TC", sans-serif;
$standard-font-size: 16px;
$white: #ffffff;
$rose-pink: #f67599;
$shadow-gray: #f9f9f9;
// gray for border and horizontal line:
$light-gray: #f0f0f5;
// gray for inactive info:
$neutrals-gray: #afb1bd;
// gray for checked steps:
$dark-gray: #333333;
$phone-width: 375px;
$pad-width: 540px;
$pc-width: 900px;
$max-width: 1028px;

:root {
  --bg-color: #{$white};
  --body-color: #2a2a2a;
  --form-description-color: #808080;
  --placeholder-color: #999999;
  --shopping-cart-bg: #{$white};
  --border-light-color: #{$light-gray};
  --footer-bg: #f6f7f8;
  --footer-color: #808080;
  --footer-color-title: #2a2a2a;
}

[dark-theme="dark"] {
  --bg-color: #121212;
  --body-color: #{$white};
  --form-description-color: #{$light-gray};
  --placeholder-color: #{$neutrals-gray};
  --shopping-cart-bg: #{$dark-gray};
  --border-light-color: #444444;
  --footer-bg: #{$dark-gray};
  --footer-color: #{$light-gray};
  --footer-color-title: #{$white};
}
